<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" attr.role="navigation" [mode]="mode" [opened]="opened">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/']" (click)="closeDrawer(drawer)"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item [routerLink]="['/partners']" (click)="closeDrawer(drawer)"><mat-icon>group</mat-icon>Partners</a>
      <a mat-list-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
      <mat-divider></mat-divider>
      <mat-nav-list *ngIf="!isProduction">
        <h3 matSubheader>Demos</h3>
        <a mat-list-item [routerLink]="['/counter']" (click)="closeDrawer(drawer)"><mat-icon>plus_one</mat-icon>Counter</a>
        <a mat-list-item [routerLink]="['/fetch-data']" (click)="closeDrawer(drawer)"><mat-icon>cloud_download</mat-icon>Fetch Data</a>
        <a mat-list-item [routerLink]="['/theme-sample']" (click)="closeDrawer(drawer)"><mat-icon>style</mat-icon>Theme Sample</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button aria-label="Toggle menu" *ngIf="!opened" (click)="drawer.toggle()">
          <mat-icon aria-label="Menu toggle icon">menu</mat-icon>
        </button>

        <span>Insights Admin Portal</span>

        <div class="flex-spacer"></div>

        <app-notifications></app-notifications>

        <button *ngIf="!isProduction" mat-icon-button aria-label="Toggle theme" (click)="toggleTheme()">
          <mat-icon aria-label="Theme toggle icon">invert_colors</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
