.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  max-width: 200px;

  .mat-toolbar {
    background: inherit;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list mat-icon {
    margin: 0 8px 0 0;
}

.avatar-card {
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: none !important;

  .mat-card-avatar mat-icon {
    width: 46px;
    height: 46px;
    font-size: 46px;
  }

  mat-card-subtitle {
    margin-bottom: 8px;
  }
}

mat-sidenav.sidenav-rail {
  width: 56px;

  .mat-list-text,
  .mat-subheader {
    display: none;
  }

  .avatar-card {
    .mat-card-avatar {
        padding-top: 6px;
        width: 24px;
        height: 34px;

        mat-icon {
          width: 24px;
          height: 24px;
          font-size: 24px;
      }
    }

    .mat-card-title,
    .mat-card-subtitle {
      display: none;
    }
  }
}

