<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport attr.role="navigation" mode="over" opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="drawer.close()">Home</a>
      <a mat-list-item [routerLink]="['/partners']" (click)="drawer.close()">
        <mat-icon>group</mat-icon>
        Partners
      </a>
      <a mat-list-item *ngIf="!isProduction" [routerLink]="['/counter']" (click)="drawer.close()">Counter</a>
      <a mat-list-item *ngIf="!isProduction" [routerLink]="['/fetch-data']" (click)="drawer.close()">Fetch Data</a>
      <a mat-list-item *ngIf="!isProduction" [routerLink]="['/theme-sample']" (click)="drawer.close()">Theme Sample</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button aria-label="Toggle menu" (click)="drawer.toggle()">
          <mat-icon aria-label="Menu toggle icon">menu</mat-icon>
        </button>

        <span>Insights Admin Portal</span>

        <div class="flex-spacer"></div>

        <app-notifications></app-notifications>

        <button *ngIf="!isProduction" mat-icon-button aria-label="Toggle theme" (click)="toggleTheme()">
          <mat-icon aria-label="Theme toggle icon">invert_colors</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
