<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="InsightsManagerUrl" value="https://asi-laso-dev-insights-adminweb.azurewebsites.net"/>
    <Parameter name="IdentityUrl" value="https://asi-laso-dev-insights-identity.azurewebsites.net/Account/Login" />
  </TestRunParameters>
</RunSettings>

