
.logo-large {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 72px;
    width: 100%;
    height: 400px;
}

.logo-large-body {
    flex: 0 0 120px;
}
