<!-- TODO: make this part of the main toolbar. [jay_mclain] -->
<div class="page-sub-header">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>New Partner</mat-toolbar-row>
  </mat-toolbar>
  <button mat-icon-button class="back-button" [routerLink]="['/partners']"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="page-content mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-content>
        <form #partnerForm="ngForm">
          <p>
            <mat-form-field>
              <mat-label>Company Name</mat-label>
              <input matInput [(ngModel)]="partner.name" name="name" id="name" test-id="name" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Primary Contact Name</mat-label>
              <input matInput [(ngModel)]="partner.contactName" name="contactName" id="contactName" test-id="contactName" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Primary Contact Email</mat-label>
              <input type="email" matInput [(ngModel)]="partner.contactEmail" name="contactEmail" id="contactEmail" test-id="contactEmail" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Primary Contact Phone</mat-label>
              <input matInput [(ngModel)]="partner.contactPhone" name="contactPhone" id="contactPhone" test-id="contactPhone" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Public PGP Key</mat-label>
              <textarea rows="10" matInput [(ngModel)]="partner.publicKey" name="publicKey" id="publicKey" test-id="publicKey"></textarea>
            </mat-form-field>
          </p>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" [routerLink]="['/partners']">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!partnerForm.form.valid">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
