mat-card.page-sub-header {
  border-radius: unset;
  padding-top: 8px;
  padding-bottom: 8px;

  .back-button {
    position: absolute;
    left: 0;
    top: 8px;
  }

  mat-card-header {
    margin-left: 24px;

    mat-card-title {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
