<!-- TODO: make this part of the main toolbar. [jay_mclain] -->
<div class="page-sub-header">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
      {{configuration.name}} - Configuration
      <span class="flex-spacer"></span>
      <button mat-icon-button [routerLink]="['/partners', configuration.id, 'provisioning-history']"><mat-icon>history</mat-icon></button>
      <button mat-icon-button (click)="configuration.showDelete=true" *ngIf="configuration.canDelete"><mat-icon>delete_forever</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <button mat-icon-button class="back-button" [routerLink]="['/partners', configuration.id, 'detail']"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="page-content">
  <div fxFlex="100%">
    <div *ngIf="configuration.showDelete">
      <mat-card>
        <mat-card-content>
          <form #deleteForm="ngForm">
            <p>This action will remove all of the resources below and delete the partner!  Enter the partner name to continue.</p>
            <p>
              <mat-form-field>
                <mat-label>Partner Name</mat-label>
                <input matInput name="partnerName" id="partnerName" test-id="partnerName" ngModel />
              </mat-form-field>
            </p>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="onDelete()" color="accent" [disabled]="partner.value !== configuration.name">Delete Partner</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-content>
        <mat-table [dataSource]="configuration.settings">
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
            <mat-cell *matCellDef="let setting">{{setting.category}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let setting">{{setting.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let setting">
              <span *ngIf="setting.value == undefined"><strong>(Unknown)</strong></span>
              <span *ngIf="!setting.isVisible && setting.isSensitive && setting.value != undefined">***********</span>
              <span *ngIf="(setting.isVisible || !setting.isSensitive) && setting.value != undefined">{{setting.value}}</span>
              <span *ngIf="setting.isSensitive"><button mat-icon-button (mousedown)="showSettingValue(setting)" (mouseup)="hideSettingValue(setting)"><mat-icon>visibility</mat-icon></button></span>
            </mat-cell>
            <ng-container matColumnDef="action">

            </ng-container>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

