@import '~@angular/material/theming';
@import 'theme';

.page-sub-header
{
  max-height: 64px;

  .mat-toolbar {
    background-color: mat-color($laso-theme-accent);
    color: mat-color($laso-theme-accent, default-contrast);

    .mat-toolbar-row {
        padding-left: 72px;
    }
  }

  a.mat-mini-fab {
    position: relative;
    bottom: 22px;
    left: 16px;
  }
}

mat-nav-list {
  margin-top: 10px;

  a.mat-list-item {
    mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
      padding: 0;
    }
  }
}
