@import '~@angular/material/theming';

mat-card.page-sub-header {
  border-radius: unset;
  padding-top: 8px;
  padding-bottom: 8px;

  .back-button {
    position: absolute;
    left: 0;
    top: 8px;
  }

  mat-card-header {
    margin-left: 24px;

    mat-card-title {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

.page-content {
  margin: 32px;

  mat-card {
    max-width: 25%;

    mat-card-content {
      margin: 14px 0;

      form mat-form-field {
          width: 100%;
      }
    }
  }
}
