@import '~@angular/material/theming';
@import 'theme';

.page-sub-header {
  max-height: 64px;

  .mat-toolbar {
    background-color: mat-color($laso-theme-accent);
    color: mat-color($laso-theme-accent, default-contrast);

    .mat-toolbar-row {
      padding-left: 72px;
    }
  }

  .back-button {
    color: mat-color($laso-theme-accent, default-contrast);
    position: relative;
    top: -52px;
    left: 16px;
  }
}

.page-content {
  margin: 32px;

  mat-card {
    max-width: 25%;

    mat-card-content {
      margin: 14px 0;

      form mat-form-field {
          width: 100%;
      }
    }
  }
}
